@charset "UTF-8";

*{
    margin: 0px;
    font-size: 1em;
    padding: 0px;
}

@font-face {
    font-family: monic;
    src: url(fontes/monic.ttf) format(truetype);
}

:root {
    --fonte1:'Times New Roman', Times, serif;
    --fonte2: 'monic', Times, serif;
    --fonte3: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: darkgrey;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: #593912;
    color: wheat;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-weight:lighter;
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: wheat;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section { 
    padding-top: 10vh;      
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte1);
    font-size: 3.5vw;
}

.normal {
    background-color: #40120E;
    color: #8C7E72;;
}

.imagem {
    background-color: rgb(44, 44, 44);
    color: #e4d0be;
}

section.imagem > p {
    background-color: #0d000067;
    display: inline-block;
    padding: 5px;
}

#corazul {
    background-color: #152340;
}

footer {
    background-color: #0D0000;
    color: #e4d0be;
    text-align: center;
    padding: 10px;
}